html {
  width: 1000px;
  margin: auto;
}
body{
  margin:0;
}
* {
  font-family: "Roboto", sans-serif;
}
.serif {
  font-family: "Roboto Slab", serif;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  flex: 1;
}
